$background-color: #e0e0e0;
$primary-color: #ED3F00;
$filter-color: saddlebrown;
$color: #333;
$border-color: #eee;

$large-font: 24px;
$middle-font: 20px;
$small-font: 14px;
$text-font: 12px;

$border-soft: 1px solid $border-color;
$border-hard: 1px solid $primary-color;